# Configuración de la aplicación
NODE_ENV=secret
PORT=xxxx

# Configuración de PostgreSQL
DB_HOST=secret
DB_PORT=secret
DB_USERNAME=secret
DB_PASSWORD=secret
DB_NAME=secret
DB_LOGGING=secret

# Configuración de JWT
JWT_SECRET=secret
JWT_EXPIRES_IN=1d
